.DS_Store
*~
*.sw[p|o]
*.py[c|o]
*.py~
*.csv
*.json
*.db
*.sublime-project
*.sublime-workspace
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.ruff_cache/
__pycache__/
data/
dist/
build/
*.egg-info/
MANIFEST.in
pyrightconfig.json
uv.lock
